/* [VARIABLES EN SASS] */
$yellow: #D9D914;

/* [METODOS EN SASS] */
@mixin Margenes($Top, $Bottom) {
    margin-top: $Top;
    margin-bottom: $Bottom
}

/* [CLASES] */
.jumbotron, footer{
    font-family: 'Chilanka', cursive;
    background-color: $yellow;
    @include Margenes(50px, 0px);
}
.btn{
    border-radius:10px;
    border-color: deeppink;
    background-color: deeppink;
    @include Margenes(10px, 0px);
    font-family: 'Chilanka', cursive;
}
.btn:hover{
    border-radius:10px;
    border-color: rgb(185, 41, 118);
    background-color:rgb(185, 41, 118);
    @include Margenes(10px, 0px);
    font-family: 'Chilanka', cursive;
}
.footer-address-icon{
    padding-right: 10px;
}
.btn-link{
    color: black;
}
.btn-link:hover{
    color: black;
    
}

/* [ID'S] */
#Titulo{
    padding-top: 20px;
}

/* [ETIQUETAS] */
h1{
    font-family: 'Chilanka', cursive;
}
h2{
    text-align: center;
    font-family: 'Chilanka', cursive;
}
a, ol, li, p{
    color: black;
    font-family: 'Chilanka', cursive;
}
nav{
    background-color: purple;
    font-family: 'Chilanka', cursive;
}
div{
    font-family: 'Chilanka', cursive;
}