/* [VARIABLES EN SASS] */
/* [METODOS EN SASS] */
/* [CLASES] */
.jumbotron, footer {
  font-family: "Chilanka", cursive;
  background-color: #D9D914;
  margin-top: 50px;
  margin-bottom: 0px;
}

.btn {
  border-radius: 10px;
  border-color: deeppink;
  background-color: deeppink;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Chilanka", cursive;
}

.btn:hover {
  border-radius: 10px;
  border-color: #b92976;
  background-color: #b92976;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Chilanka", cursive;
}

.footer-address-icon {
  padding-right: 10px;
}

.btn-link {
  color: black;
}

.btn-link:hover {
  color: black;
}

/* [ID'S] */
#Titulo {
  padding-top: 20px;
}

/* [ETIQUETAS] */
h1 {
  font-family: "Chilanka", cursive;
}

h2 {
  text-align: center;
  font-family: "Chilanka", cursive;
}

a, ol, li, p {
  color: black;
  font-family: "Chilanka", cursive;
}

nav {
  background-color: purple;
  font-family: "Chilanka", cursive;
}

div {
  font-family: "Chilanka", cursive;
}

/*# sourceMappingURL=styles.css.map */
